.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .3em;
    font-weight: bold;
    font-size: .8em;
}

.form_control input {
    padding: .7em;
    border: 1px solid #777;
    border-radius: 5px;
}

.form_control input::placeholder {
    color: #7B7B7B;
}

.form_control textarea {
    width: 22.5em;
    height: 10em;
    padding: 1em;
    resize: vertical;
}

.form_control textarea::placeholder {
    color: #7B7B7B;
}