.pet_details_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.pet_header {
    text-align: center;
    margin-bottom: 2em;
}

.pet_header p{
    margin-bottom: 1em;
    font-size: 1.3em;
}

.details_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px; 
    align-items: start;
}


.pet_images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet_images img {
    width: 100%;
    max-width: 500px;
    height: 400px; 
    object-fit: cover; 
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    margin-bottom: 10px;
}


.pet_info {
    display: flex;
    flex-direction: column;
}

.pet_info h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #222;
}


.info_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    padding: 15px 0;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
    color: #25B456; 
}


.description_box {
    margin-top: 20px;
    border: 2px solid #333; 
    border-radius: 15px; 
    padding: 20px;
    background-color: #f9f9f9;
}

.description_box h3 {
    margin-bottom: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    color: #666;
}

.description_box p {
    line-height: 1.6;
    color: #333;
}

.actions {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end; 
}

.actions button {
    background-color: #25B456;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    transition: .3s;
    padding: 12px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.1em;
}

.actions button:hover {
    background-color: #1C8A42;
}
