.footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    color: #444;
    border-top: 1px solid #666;
    position: fixed; 
    bottom: 0;       
    left: 0;         
    width: 100%;
}