.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: #FFD400;
    color: #16479D;

    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.navbar_logo {
    display: flex;
    align-items: center;
}

.navbar_logo img {
    width: 40px;
    margin-right: .8em;
}

.navbar ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar li,
.navbar a {
    text-decoration: none;
    color: #16479D;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #16479D;
    color: #FFF;
}

.navbar li:hover > a {
    color: #FFF;
}