* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
    color: #333;
}

h1 {
  color: #16479D;
  margin-bottom: .6em;
  font-size: 2.1em;
}

.bold {
  font-weight: bold;
  color: #16479D;
}
